# Use default setting for mysqld processes
!include include/default_mysqld.cnf
!include include/default_client.cnf

[ENV]
BACKEND_PORT=              @mysqld.1.port
BACKEND_SOCK=              @mysqld.1.socket